*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

/* header section start */
header{
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    background-color: #022d7c;
    justify-content: space-between;
}
/* /header section end */

/*banner section start */
.banner{
    width:100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    text-align: center;
    justify-content: space-between;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../img/Industrial.jpg);
    background-size: cover;
}
.banner main h1{
    margin-top: 60px;
    padding: 100px ;
    font-size: 50px;
    font-weight: normal;
}
.banner h1 span{
    display: block;
    font-size: 77px;
    font-weight:600;
}
.banner aside {
    padding: 20px  ;
    margin: 80px 21px;
    /* padding: 0px 30px; */
    border-radius: 7px;
    line-height:50px;
    text-align: center;
    background-color:#022d7c;
}
.banner aside input[type],
.banner aside textarea,
.banner aside button
{
    width: 100%;
    /* margin:7px; */
    height: 35px;
}
/*/banner section end */

/* feature section start */
.feature{
    width: 100%;
    height: auto;
    display: flex;
    color: #022d7c;
    padding: 60px 100px;
    justify-content: space-between;
}
.feature div{
    width: 33%;
    height: 400px;
}
.feature div h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 7px;
}
.feature div img{
    margin-left: 8%;
    width: 343px;
    font-weight: 400;
    height: 200px;
}
.feature div p{
    margin: 5px 0px 0px 30px;
    font-size: 18px;
    text-align: justify;
}
/* /feature section end */

/* about us section satrt */
.about{
    width: 100%;
    height:auto;
    padding: 60px 300px;
    color:#fff;
    text-align: center;
    background-color: #022d7c;
}
.about h2{
    font-size: 33px;
    margin: 7px;
}
.about p{
    padding: 18px;
    /* padding:5px 30px; */
    font-weight: normal;
}
.about button{
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 100px;
    border:2px solid #fff;
    background:#022d7c;
    border-radius: 5px;
}
/* /about us section end */

/* service section start */
.service{
    width: 100%;
    height: auto;
    padding: 0px 100px;
}
.service .upper,.service .lover{
    display: flex;
    align-items: center;
}
.service .image, .service content {
    width: 50%;
}
.service .image img{
    width: 570px;
    height: 500px;
}
.service .content h3{
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
}
.service .content p{
    font-size: larger;
    font-weight: 200;
}
/* /service section end */
/* footer section start */
footer{
    width: 100%;
    height: auto;
    color: #fff;
    background: #022d7c;
    text-align: center;
    padding: 20px 100px;
}
/* /footer section end */

/* Media Query Section Start */
@media screen and (max-width:992px) {
header{
    padding: 10px;
 }
 header h2{
    font-size: 20px;
 }
 header span{
    text-wrap: nowrap;
 }
 .banner{
    padding: 10px;
    flex-direction: column;
    height: auto;
}
.feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature div{
    margin: 0px;
    width: auto;
}
.feature div img {
    margin-left: 12%;
    width: 643px;
    font-weight: 400;
    height: 250px;
}
.about{
    padding: 20px;
    margin-left: 100px;
    width: auto;
    
}
.service{
    padding: 10px;
}
.service .content p {
    font-weight: 14px;
    margin-left: 80px;
}
.service .upper, .service .lover{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service .image ,.service .content {
    width: auto;
    padding-left: 0px !important;
}
}
@media screen and(max-width:768px) {
section{
    /* margin-left: 20px; */

    flex-direction: column;
}
.banner aside {
    margin-left: 20px;
}
.banner h1 span{
    font-weight: 10px;
}
}
/* /Media Query Section End */




    

